{% extends 'bootstrap/base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>
            bluefinch
            </h2>
        </div>

    </div>

    <div class="container">
        <form action="{{url_for('analyse')}}" method="POST" id="1">
        <textarea name="rawtext" rows="3" cols="3" class="form-control">

        </textarea>
        <input type="submit" name="" value="Submit" class="btn btn-primary">
    </form>
    </div>

    <div class="container">
        <div class="card">
            <div>
                <p>{{ received_text }}</p>
                <hr/>
                <p>Score</p>
                {{tokens}}<br/>
                {{blob_sentiment}}<br/>
                {{blob_subjectivity}}<br/>


            </div>
        </div>
    </div>


{% endblock %}